<section class="blog-banner-area" id="contact">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>خطای 404</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-dark" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">خطای 404</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<div>
    <img class="d-block mx-auto mt-2" src="https://tebahang.ir/wp-content/uploads/2020/10/86418032b715698a4dfa6684b50c12af.gif" alt="خطای 404">
    <p class="mt-2 text-center"> ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید </p>
</div>