
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>صفحه مورد نظر یافت نشد</title>


	<!-- Custom stlylesheet -->
	<link rel="stylesheet" href="~/css/Error404.css" />
	
    <link href="https://v1.fontapi.ir/css/Samim" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>اوپس!</h1>
			</div>
			<h2>404 - صفحه مورد نظر یافت نشد</h2>
			<p>ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید
            </p>
			<a href="/">خانه</a>
		</div>
	</div>

</body>

</html>

