@model Aroma_Shop.Application.ViewModels.BlogModels.AddEditBlogCategoryViewModel

@{
    ViewData["Title"] = "ویرایش دسته بندی بلاک";
}
<div class="h2 mt-3">
    <h1 class="h2 d-inline">ویرایش دسته بندی بلاک</h1>
    <a class="btn btn-warning float-left" asp-action="Categories">بازگشت</a>
</div>
<hr>
<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12 m-auto">
        <form asp-action="EditCategory">
            <div class="form-group">
                <label class="control-label" for="CategoryName">نام</label>
                <input class="form-control" asp-for="CategoryName">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">توضیحات</label>
                <textarea class="form-control" asp-for="CategoryDescription"></textarea>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">دسته پدر</label>
                <select class="form-control" asp-items="Model.AllCategories" asp-for="ParentCategoryId">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-block btn-primary">
            </div>
            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-3" role="alert">@ViewData["SuccessMessage"]</div>
            }
            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}