@model Aroma_Shop.Application.ViewModels.Banner.AddBannerViewModel

@{
    ViewData["Title"] = "افزودن بنر";
}

@section Styles
{
    <style>
        .custom-file-input ~ .custom-file-label::after {
            content: "انتخاب";
        }
    </style>
}

<div class="h2 mt-3">
    <h1 class="h2 d-inline">افزودن بنر</h1>
    <a class="btn btn-warning float-left" asp-action="Banners">بازگشت</a>
</div>
<hr>
<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12 m-auto">
        <form asp-action="AddBanner" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label" for="BannerTitle">عنوان بنر</label>
                <input class="form-control" id="BannerTitle" asp-for="BannerTitle">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="BannerTitle">پیوند</label>
                <input class="form-control" id="BannerTitle" asp-for="BannerLink">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">توضیحات</label>
                <textarea id="editor" asp-for="BannerDescription">
                </textarea>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="custom-file mb-3" id="customFile" lang="es">
                <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp" asp-for="BannerImage">
                <label class="custom-file-label" for="exampleInputFile">
                    انتخاب عکس بنر
                </label>
            </div>
            <div class="form-group">
                <label class="control-label d-block">مکان قرار گیری</label>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" class="custom-control-input" value="true" asp-for="IsPrimaryBanner">
                    <label class="custom-control-label" for="customRadioInline1">بنر اصلی</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" class="custom-control-input" value="false" asp-for="IsPrimaryBanner">
                    <label class="custom-control-label" for="customRadioInline2">بنر فرعی</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-block btn-primary">
            </div>
            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-3" role="alert">@ViewData["SuccessMessage"]</div>
            }
            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/vendors/ckeditor5/build/ckeditor.js"></script>

    <script>

        ClassicEditor.create(document.querySelector('#editor'),
            {
                language: 'fa',
                ckfinder: { uploadUrl: "/UploadEditorFile" },
                heading: {
                    options: [
                        { model: 'paragraph', title: 'پاراگراف', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'هدر 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'هدر 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'هدر 3', class: 'ck-heading_heading3' }
                    ]
                },
                toolbar: {
                    items: [
                        'heading', '|',
                        'bold', 'italic', 'link', 'horizontalLine', 'underline', 'fontSize', 'fontColor', 'fontBackgroundColor', 'highlight', 'bulletedList', 'numberedList', 'blockQuote', '|',
                        'alignment', 'indent', 'outdent', '|',
                        'insertTable', 'htmlEmbed', 'codeBlock', '|',
                        'imageInsert', 'mediaEmbed', '|',
                        'removeFormat', 'redo', 'undo'
                    ],
                    shouldNotGroupWhenFull: true
                },
                image: {
                    // Configure the available styles.
                    styles: [
                        'alignLeft', 'alignCenter', 'alignRight'
                    ],

                    // Configure the available image resize options.
                    resizeOptions: [
                        {
                            name: 'resizeImage:original',
                            label: 'Original',
                            value: null
                        },
                        {
                            name: 'resizeImage:50',
                            label: '50%',
                            value: '50'
                        },
                        {
                            name: 'resizeImage:75',
                            label: '75%',
                            value: '75'
                        }
                    ],

                    // You need to configure the image toolbar, too, so it shows the new style
                    // buttons as well as the resize buttons.
                    toolbar: [
                        'imageStyle:alignLeft', 'imageStyle:alignCenter', 'imageStyle:alignRight',
                        '|',
                        'resizeImage',
                        '|',
                        'imageTextAlternative'
                    ]
                }
            })
            .catch(error => {
                console.error(error);
            });

    </script>
}