@using Aroma_Shop.Application.Interfaces

@inject IAccountService AccountService
@inject IProductService ProductService

@{
    var isUserSignedIn = AccountService.IsUserSignedIn();
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - فروشگاه آروما</title>
    <link rel="stylesheet" href="~/vendors/bootstrap/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/style.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="rtl">


    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav mx-auto">
                            <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">خانه</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">فروشگاه</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="category.html">شاخه ها</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-product.html">جزیات محصول</a></li>
                                    <li class="nav-item"><a class="nav-link" href="checkout.html">خرید محصول</a></li>
                                    <li class="dropdown-submenu nav-item">
                                        <a class="dropdown-item dropdown-toggle nav-link" href="#">زیر منو ها</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a class="dropdown-item" href="#">زیر منو شماره 1</a></li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">زیر منو شماره 2</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item"><a class="dropdown-item" href="#">زیر زیر منو شماره 1</a></li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#">زیر زیر منو شماره 2</a>
                                                        <ul class="dropdown-menu">
                                                            <li class="nav-item"><a class="dropdown-item" href="#">زیر زیر زیر منو شماره 1</a></li>
                                                            <li class="nav-item"><a class="dropdown-item" href="#">زیر زیر زیر منو شماره 2</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="confirmation.html">ادامه کار</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">وبلاگ</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">صفحه وبلاگ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-blog.html">جزیات وبلاگ</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">صفحات</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">ورود</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">پیگیری سفارش</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Media" asp-action="ContactUs">تماس با ما</a></li>
                        </ul>
                        <div id="searchOverlay" class="searchSectionOverlay">
                            <span class="closebtn">×</span>
                            <div class="searchOverlay-content">
                                <form method="get" asp-controller="Product" asp-action="Index">
                                    <input type="text" placeholder="جستجو..." name="Search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <ul class="nav-shop">
                            <li class="nav-item"><button class="openBtn"><i class="ti-search"></i></button></li>
                            <li class="nav-item"><a asp-controller="Product" asp-action="ShoppingCart"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">@(isUserSignedIn ? ProductService.GetLoggedUserOpenOrderDetailsCount() : 0)</span></a> </li>
                            @if (isUserSignedIn)
                            {
                                <li class="nav-item"><a class="button button-header" asp-controller="Account" asp-action="ManageAccount">@User.Identity.Name</a></li>

                                <li class="nav-item text-danger">
                                    <form asp-controller="Account" asp-action="LogOut">
                                        <button type="submit" class="text-danger">خروج</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <div class="button button-header">
                                        <a asp-controller="Account" asp-action="Login" class="text-dark">ورود</a> / <a asp-controller="Account" asp-action="Register" class="text-dark">عضویت</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->


    <main>
        @RenderBody()
    </main>

    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">لورم ایپسوم</h4>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                            </p>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">لینک ها</h4>
                            <ul class="list">
                                <li><a asp-controller="Home">خانه</a></li>
                                <li><a href="#">فروشگاه</a></li>
                                <li><a href="#">وبلاگ</a></li>
                                <li><a href="#">محصولات</a></li>
                                <li><a href="#">برند ها</a></li>
                                <li><a asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">گالری</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="~/img/gallery/r1.jpg" alt=""></li>
                                <li><img src="~/img/gallery/r2.jpg" alt=""></li>
                                <li><img src="~/img/gallery/r3.jpg" alt=""></li>
                                <li><img src="~/img/gallery/r5.jpg" alt=""></li>
                                <li><img src="~/img/gallery/r7.jpg" alt=""></li>
                                <li><img src="~/img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">تماس با ما</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    ایران ، مشهد
                                </p>
                                <p>بلوار دانشجو</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    شماره تماس
                                </p>
                                <p>
                                    ۰۷۸۹۶۵۳۳۶۵۸
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    ایمیل
                                </p>
                                <p>
                                    exam@exam.ir
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        کپی رایت &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!--================ Start Js Libraries Area  =================-->
    <script src="~/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/skrollr.min.js"></script>
    <script src="~/vendors/mail-script.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!--================ End Js Libraries Area  =================-->


</body>
</html>
