@model IEnumerable<Aroma_Shop.Domain.Models.Product>

<div class="row">
    @foreach (var product in @Model)
    {
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="card-img" src="img/Products/@product.Images.FirstOrDefault().ImageName" alt="">
                    <div class="card-product__imgOverlay">
                        <a class="btn btn-block text-light btn-dark btn-buy">خرید</a>
                    </div>
                </div>
                <div class="card-body">
                    <p>@(product.Categories?.First().CategoryName)</p>
                    <h4 class="card-product__title"><a href="single-product.html">@product.ProductName</a></h4>
                    <p class="card-product__price">@product.ProductPrice</p>
                </div>
            </div>
        </div>
    }
</div>