@model Aroma_Shop.Application.ViewModels.Product.AddEditProductViewModel
@{
    ViewData["Title"] = "افزودن محصول";
}
<style>
</style>
<div class="h2 mt-3">
    <h1 class="h2 d-inline">افزودن محصول</h1>
    <a class="btn btn-warning float-left" asp-controller="Product" asp-action="Index">بازگشت</a>
</div>
<hr>
<div class="row">
    <div class="col-lg-9 col-md-11 col-sm-12 m-auto">
        <form asp-action="AddProduct" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label" for="ProductName">نام</label>
                <input class="form-control" asp-for="ProductName">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">توضیحات</label>
                <textarea id="matn" asp-for="ProductDescription" class="form-control">

                </textarea>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="ProductPrice">قیمت</label>
                <input class="form-control" asp-for="ProductPrice">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="ProductQuantityInStock">تعداد</label>
                <input class="form-control" asp-for="ProductQuantityInStock">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label for="@Model.TreeViewCategories">دسته بندی ها</label>
                <select class="form-control" size="6" multiple aria-label="size 3 select example" asp-for="@Model.ProductCategoriesId" asp-items="@Model.TreeViewCategories">
                </select>
            </div>
            <div class="form-group">
                <label>انتخاب تصاویر</label>
                <label for="attachment" class="w-100 text-center">
                    <a class="upload-btn mb-2" role="button" aria-disabled="false"><i class="bi bi-cloud-arrow-up-fill text-info display-3"></i></a>
                </label>
                <input type="file" asp-for="ProductImages" accept=".png,.jpg,.jpeg" id="attachment" class="d-none" multiple/>
                <p id="files-area">
                    <span id="filesList">
                        <span id="files-names"></span>
                    </span>
                </p>
            </div>
            <label>مشخصات</label>
            <div class="form-group border border-secondary p-2 border-dark product-informations">
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="نام">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="مقدار">
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <button type="button" class="btn btn-success">افزودن</button>
            </div> 
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-block btn-primary">
            </div>
            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-3" role="alert">@ViewData["SuccessMessage"]</div>
            }
            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendors/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('matn', {
            language: 'fa',
            font_defaultLabel: "Samim"
        });
        CKEDITOR.addCss(".cke_editable{font-family: 'Samim', sans-serif;}");
    </script>
}