@using Aroma_Shop.Application.Interfaces
@model Aroma_Shop.Application.ViewModels.User.EditUserViewModel

@inject IAccountService AccountService

@{
    ViewData["Title"] = "ویرایش کاربر";
}
<div class="h2 mt-3">
    <h1 class="h2 d-inline">ویرایش کاربر</h1>
    <a class="btn btn-warning float-left" asp-controller="User" asp-action="Index">بازگشت</a>
</div>
<hr>
<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12 m-auto">
        <form asp-action="EditUser">
            <div class="form-group">
                <label class="control-label">نام کاربری</label>
                <input class="form-control" asp-for="UserName">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ایمیل</label>
                <input class="form-control" asp-for="Email">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">شماره موبایل</label>
                <input class="form-control" asp-for="MobileNumber">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                @{
                    var isUserHasPassword =
                        await AccountService.IsUserHasPasswordByIdAsync(Model.UserId);
                }
                @if (isUserHasPassword)
                {
                    <button class="form-control btn btn-danger" id="change-password" type="button">
                        تغییر کلمه عبور
                    </button>
                }
                else
                {
                    <button class="form-control btn btn-danger" id="change-password" type="button">
                        افزودن کلمه عبور
                    </button>
                }
                <div class="d-none">
                    <label class="control-label">کلمه عبور</label>
                    <input class="form-control" asp-for="UserPassword">
                    <span class="text-danger field-validation-valid"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">مقام</label>
                <select class="form-control" asp-items="Model.Roles" asp-for="UserRoleName">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">نام</label>
                <input class="form-control" asp-for="FirstName">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">نام خانوادگی</label>
                <input class="form-control" asp-for="LastName">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">استان</label>
                <input type="hidden" id="province" asp-for="UserProvince">
                <select id="provinces" class="form-control" onchange="AddCitiesByProvince(this.value)">
                    <option value="">انتخاب کنید</option>
                    <option value="  ,آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">آذربایجان شرقی</option>
                    <option value="  ,ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده">آذربایجان غربی</option>
                    <option value="  ,اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">اردبیل</option>
                    <option value="  ,آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">اصفهان</option>
                    <option value="  ,آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">ایلام</option>
                    <option value="  ,بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">بوشهر</option>
                    <option value="  ,اسلام‌شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">تهران</option>
                    <option value="  ,اردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال و بختیاری</option>
                    <option value="  ,بیرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">خراسان جنوبی</option>
                    <option value="  ,بردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">خراسان رضوی</option>
                    <option value="  ,اسفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">خراسان شمالی</option>
                    <option value="  ,آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,لالی ,مسجد سلیمان,هندیجان ">خوزستان</option>
                    <option value="  ,ابهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">زنجان</option>
                    <option value="  ,دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان</option>
                    <option value="  ,ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">سیستان و بلوچستان</option>
                    <option value="  ,آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر ,نی‌ریز">فارس</option>
                    <option value="  ,آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین</option>
                    <option value="  ,قم">قم</option>
                    <option value="  ,بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">کردستان</option>
                    <option value="  ,بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">کرمان</option>
                    <option value="  ,اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">کرمانشاه</option>
                    <option value="  ,بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و بویراحمد</option>
                    <option value="  ,آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">گلستان</option>
                    <option value="  ,آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">گیلان</option>
                    <option value="  ,ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">لرستان</option>
                    <option value="  ,آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">مازندران</option>
                    <option value="  ,آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">مرکزی</option>
                    <option value="  ,ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">هرمزگان</option>
                    <option value="  ,اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">همدان</option>
                    <option value="  ,ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">یزد</option>
                </select>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">شهر</label>
                <input type="hidden" id="city" asp-for="UserCity">
                <select id="cities" class="form-control">
                    <option>لطفا استان خود را انتخاب کنید</option>
                </select>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">آدرس</label>
                <textarea asp-for="UserAddress" rows="3" class="form-control none-resize">
                </textarea>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">کد پستی</label>
                <input class="form-control" type="number" asp-for="UserZipCode">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-block btn-primary">
            </div>
            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#change-password').click(function () {
                $(this).next().removeClass('d-none');
                $(this).addClass('d-none');
            });
        });

        //Provinces And Cities

        //Load Provinces And Cities

        $(document).ready(function () {
            $('#provinces option').filter(function () {
                return $(this).html() == $("#province").val();
            }).attr('selected', true);
            var _cities = document.getElementById("cities");
            var citiesList = $("#provinces option:selected").val().split(",");
            for (i = 0; i < citiesList.length; i++) {
                if (citiesList[i] != "") {
                    _cities.options[_cities.options.length] = new Option(citiesList[i].trim(), citiesList[i].trim());
                }
            }
            $('#cities option').filter(function () {
                return $(this).html() == $("#city").val();
            }).attr('selected', true);
        });

        //////

        function AddCitiesByProvince(provincesvalue) {
            var _cities = document.getElementById("cities");
            _cities.options.length = 0;
            if (provincesvalue != "") {
                $("#province").val($("#provinces option:selected").text());
                var citiesList = provincesvalue.split(",");
                for (i = 0; i < citiesList.length; i++) {
                    if (citiesList[i] != "") {
                        _cities.options[_cities.options.length] = new Option(citiesList[i].trim(), citiesList[i].trim());
                    }
                }
            } else {
                $("#province").val("");
            }
        }

        $(document).ready(function () {
            $("#cities").change(function () {
                if ($(this).val() != "لطفا استان خود را انتخاب کنید") {
                    $(this).prev().val($(this).val());
                }
            });
        });
    </script>
}