@model IEnumerable<Aroma_Shop.Domain.Models.Product>
@{
    ViewData["Title"] = "خانه";
}

<!--================ Hero banner start =================-->
<section class="hero-banner">
    <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    <img class="img-fluid" src="img/home/hero-banner.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4>خرید خوب است</h4>
                    <h1>محصولات ویژه را مشاهده کنید</h1>
                    <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
                    <a class="button button-hero" href="#">مشاهده</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Hero banner end =================-->
<!-- ================ trending product section start ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>بهترین محصولات در فروشگاه موجود است</p>
            <h2><span class="section-intro__style">محصولات</span> پرطرفدار</h2>
        </div>

        @{
            await Html.RenderPartialAsync("ShowProducts", Model);
        }

    </div>
</section>
<!-- ================ trending product section end ================= -->