@using Aroma_Shop.Application.Utilites
@using Aroma_Shop.Application.ViewModels.Product
@model IEnumerable<Aroma_Shop.Domain.Models.ProductModels.Order>

@{
    ViewData["Title"] = "حساب کاربری";
}

<section class="blog-banner-area" id="contact">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>حساب کاربری</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-dark" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">حساب کاربری</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="myaccount_content container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-11 mb-xl-0 mb-lg-0 mb-md-0 mb-4">
            <a class="custombtn button1 text-center mb-2" asp-action="ManageAccount">پیشخوان</a>
            <a class="custombtn button1 text-center mb-2" asp-action="EditAccount">پیشخوان</a>
            <a class="custombtn button1 text-center mb-2" asp-action="FavoriteProducts">علاقه مندی ها</a>
            <button class="custombtn button1 text-center mb-2 bg-dark text-light">سفارشات</button>
            <form asp-action="LogOut">
                <button class="custombtn button1 mb-2" type="submit">خروج از سیستم</button>
            </form>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-11">
            <table class="table table-responsive-lg table-responsive-sm table-striped table-bordered text-center table-light">
                <thead>
                    <tr>
                        <th class="cart-item-cells px-4">سفارش</th>
                        <th class="cart-item-cells">تاریخ</th>
                        <th class="cart-item-cells">وضعیت</th>
                        <th class="cart-item-cells px-5">مجموع</th>
                        <th class="cart-item-cells">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var orders =
                            Model
                                .Where(p => p.OrdersDetails.Any());
                    }
                    @foreach (var order in orders)
                    {
                        var orderDate = "";

                        if (order.OrderRegistrationDate == default)
                        {
                            orderDate = order.CreateTime.ToSolarWithTime();
                        }
                        else
                        {
                            orderDate = order.OrderRegistrationDate.ToSolarWithTime();
                        }

                        var totalOrderPrice =
                            order.OrdersDetails.Sum(p => p.OrderDetailsTotalPrice) -
                            order.Discounts.Sum(p => p.DiscountPrice);
                        <tr>
                            <td class="cart-item-cells align-middle">#@order.OrderId</td>
                            <td class="cart-item-cells align-middle">@orderDate</td>
                            <td class="cart-item-cells align-middle text-success">@order.OrderStatus</td>
                            <td class="cart-item-cells align-middle">@(totalOrderPrice>0 ? $"{totalOrderPrice} تومان" : "رایگان")</td>
                            <td class="cart-item-cells align-middle">
                                @if (order.OrderStatus == OrderStatus.AwaitingPayment.GetDescription())
                                {
                                    <a class="btn btn-warning m-1" asp-controller="Product" asp-action="CartCheckOut">پرداخت</a>
                                }
                                <a class="btn btn-warning m-1">نمایش</a>
                                <a class="btn btn-warning m-1">فاکتور</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}