@model Aroma_Shop.Application.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<!--================ForgotPassword Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="login_form_inner p-5 register_form_inner">
                    <h3>فراموشی کلمه عبور</h3>
                    <form class="row login_form" asp-action="ForgotPassword" id="register_form">
                        <div class="col-md-12 form-group">
                            <input asp-for="Email" class="form-control" id="name" placeholder="ایمیل" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-warning btn-block">ارسال لینک تغییر کلمه عبور</button>
                            @if (ViewData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success my-2" role="alert">@ViewData["SuccessMessage"]</div>
                            }
                            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End ForgotPassword Box Area =================-->


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
