@model Aroma_Shop.Application.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "ورود";
}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>کاربر جدید هستید ؟</h4>
                        <p>پس همین الان ثبت نام کنید</p>
                        <a class="button button-account" asp-action="Register">ثبت نام</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner register_form_inner">
                    <h3>ورود</h3>
                    <form class="row login_form" asp-action="Login" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input asp-for="Email" class="form-control" id="email" placeholder="ایمیل" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل'">

                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Password" class="form-control" id="password" placeholder="کلمه عبور" onfocus="this.placeholder = ''" onblur="this.placeholder = 'کلمه عبور'">

                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account float-right">
                                <label>مرا بخاطر بسپار</label>
                                <input asp-for="RememberMe" id="f-option2">
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="button button-login w-100">ورود</button>
                            <a class="forgot-password">کلمه عبور خود را فراموش کرده ام.</a>
                            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
                        </div>
                        <input asp-for="ReturnUrl" type="hidden" />
                    </form>
                    <button type="button" class="btn btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                        </svg>
                        ورود با گوگل
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

