@model Aroma_Shop.Application.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "ورود";
}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>کاربر جدید هستید ؟</h4>
                        <p>پس همین الان ثبت نام کنید</p>
                        <a class="button button-account" asp-action="Register">ثبت نام</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>ورود</h3>
                    <form class="row login_form" asp-action="Login" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input asp-for="Email" class="form-control" id="email" placeholder="ایمیل" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل'">

                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Password" class="form-control" id="password" placeholder="کلمه عبور" onfocus="this.placeholder = ''" onblur="this.placeholder = 'کلمه عبور'">

                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account float-right">
                                <label>مرا بخاطر بسپار</label>
                                <input asp-for="RememberMe" id="f-option2">
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="button button-login w-100">ورود</button>
                            <a class="text-success">کلمه عبور خود را فراموش کرده ام.</a>
                            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
                        </div>
                        <input asp-for="ReturnUrl" type="hidden" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

