@using Aroma_Shop.Application.Interfaces

@inject IAccountService AccountService

@{
    ViewData["Title"] = "حساب کاربری";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3">
        <li class="container">
            <ol class="breadcrumb m-0 p-0 font-weight-bold">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home text-dark" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">حساب کاربری</li>
            </ol>
        </li>
    </ol>
</nav>

<div class="myaccount_content container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-11 mb-xl-0 mb-lg-0 mb-md-0 mb-4">
            <button class="custombtn button1 mb-2 bg-dark text-light">پیشخوان</button>
            <a class="custombtn button1 text-center mb-2" asp-action="EditAccount">جزئیات حساب</a>
            <button class="custombtn button1 mb-2">علاقه مندی ها</button>
            <button class="custombtn button1 mb-2">سفارش ها</button>
            <form asp-action="LogOut">
                <button class="custombtn button1 mb-2" type="submit">خروج از سیستم</button>
            </form>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-11">
            @{
                var loggedUser =
                    await AccountService.GetLoggedUser();

                var loggedUserName =
                    loggedUser.UserName;
            }
            <p class="mb-3">سلام @loggedUserName</p>
            <p>از طریق پیشخوان حساب کاربری‌تان، می‌توانید سفارش‌های اخیرتان را مشاهده , جزییات حساب کاربری و کلمه عبور خود را ویرایش کنید.</p>
        </div>
    </div>
</div>
