@model Aroma_Shop.Application.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "ثبت نام";
}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>قبلا ثبت نام کرده اید؟</h4>
                        <p>پس همین الان وارد شوید</p>
                        <a class="button button-account" asp-action="Login">ورود</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner register_form_inner">
                    <h3>ثبت نام</h3>
                    <form class="row login_form" asp-action="Register" id="register_form">
                        <div class="col-md-12 form-group">
                            <input asp-for="UserName" class="form-control" id="name" placeholder="نام کاربری" onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام کاربری'">

                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Email" class="form-control" id="email" placeholder="ایمیل" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل'">

                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Password" class="form-control" id="password" placeholder="کلمه عبور" onfocus="this.placeholder = ''" onblur="this.placeholder = 'کلمه عبور'">
                            
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="RePassword" class="form-control" id="confirmPassword" placeholder="تکرار کلمه عبور" onfocus="this.placeholder = ''" onblur="this.placeholder = 'تکرار کلمه عبور'">
                            
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="button button-register w-100">ثبت نام</button>
                            @if (ViewData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success mt-3" role="alert">@ViewData["SuccessMessage"]</div>
                            }
                            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

