@model Aroma_Shop.Application.ViewModels.Product.OrderTrackingViewModel

@{
    ViewData["Title"] = "رهگیری سفارش";
}

<section class="blog-banner-area" id="contact">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>رهگیری سفارش</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-dark" href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">رهگیری سفارش</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="tracking_box_area section-margin--small">
    <div class="container">
        <div class="tracking_box_inner">
            <p>لطفا ایمیل و شناسه سفارش مورد نظر را در زیر وارد کنید.</p>
            <form class="row tracking_form" asp-action="OrderTracking">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="order" asp-for="OrderId" placeholder="شناسه سفارش مورد نظر" onfocus="this.placeholder = ''" onblur="this.placeholder = 'شناسه سفارش مورد نظر'">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email" asp-for="Email" placeholder="ایمیل شما" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل شما'">
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="button button-tracking">پیگیری سفارش</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}