@{
    ViewData["Title"] = "رهگیری سفارش";
}

<section class="blog-banner-area" id="contact">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>رهگیری سفارش</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-dark" href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">رهگیری سفارش</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>