<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - پیشخوان</title>
    <link rel="stylesheet" href="~/vendors/bootstrap/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/css/admin/dashboard.css">
</head>
<body class="rtl">


    <!--================ Start Header Menu Area =================-->
    <nav class="navbar navbar-dark sticky-top bg-info flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">فروشگاه آروما</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 d-none" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link text-light" href="#">خروج</a>
            </li>
        </ul>
    </nav>
    <!--================ End Header Menu Area =================-->

    <div class="container-fluid">
        <div class="row">
            <!--================ Start Right Menu Area =================-->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                پیشخوان <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                سفارشات
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link dropdown-btn">
                                <span data-feather="file"></span>
                                محصولات
                            </a>
                            <div class="dropdown-container">
                                <a class="dropdown-item" asp-controller="Product" asp-action="Index">همه محصولات</a>
                                <a class="dropdown-item" href="#">افزودن محصول</a>
                                <a class="dropdown-item" asp-controller="Product" asp-action="Categories">دسته بندی ها</a>
                                <a class="dropdown-item" href="#">ویژگی ها</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                کاربران
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                گزارشات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                پکیج ها
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>گزارشات ثبت شده</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                روزه گذشته
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                هفته گذشته
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                ماه گذشته
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                سال گذشته
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--================ End Right Menu Area =================-->

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <!--================ Start Js Libraries Area  =================-->
    <script src="~/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/admin/dashboard.js"></script>
    @RenderSection("Scripts", required: false)
    <!--================ End Js Libraries Area  =================-->
</body>
</html>
